<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Restaurant du chef</title>
  </head>
  <body>
  
 
      
    <!---------------------- The navigation bar---------------- ------>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Restaurant du chef</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <!--Division pour centrer la nav-->
            <div class ="mx-auto">
              <!-- Division qui contient les elements de navigations-->
              <div class="navbar-nav">
                <!-- div qui contient les margin-->
                <div class ="me-5 mt-2 mb-3 ">
                  <!-- Division qui contient le flex et définit son shadow-->
                  <div class="d-inline-flex p-2 bd-highlight shadow p-3 rounded"> <p class="fs-4"> <a class="nav-link" href="#">Accueil</a> </p> </div>
                </div>
                <!-- div qui contient les margin-->
                <div class="mb-3">
                  <!-- Division qui contient le flex et définit son shadow-->
                  <div class="d-inline-flex p-2 bd-highlight shadow p-3 rounded rounded-pill"> <p class ="fs-2"> <a class="nav-link active" aria-current="page" href="#">Fiches techniques</a> </p> </div>
                </div>
                <!-- div qui contient les margin-->
                <div class ="ms-5 mt-2 mb-3">
                  <!-- Division qui contient le flex et définit son shadow-->
                  <div class ="d-inline-flex p-2 bd-highlight shadow p-3 rounded"> <p class="fs-4"> <a class="nav-link" href="#">Ingrédients</a> </p> </div>
                </div>     
              </div>
            </div>
          </div>
        </div>
      </nav>

        <!--Bouton aperçu fiche avec prix, sans prix, ou etiquette -->
        <div class="container-fluid mt-5" align=center>
            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" id="Aperçu" data-bs-toggle="dropdown" aria-expanded="false">
                  Aperçu de la fiche technique
                </button>
                <ul class="dropdown-menu" aria-labelledby="Aperçu">
                  <li><button class="dropdown-item" type="button" >Fiche avec prix</button></li>
                  <li><button class="dropdown-item" type="button">Fiche sans prix</button></li>
                  <li><button class="dropdown-item" type="button">Etiquette</button></li>
                </ul>
              </div>
        </div>

        <!--Division pour le formulaire complet de l'étiquette qui va etre imprimé-->
        <div class="ms-5 me-5 mt-5 ">
            <!--carte qui contient l'étiquette-->
            <div class="card">
                <h5 class="card-header text-white bg-dark mb-3">(Nom de la fiche technique)</h5>
                    <div class="card-body">
                        <!--Division qui permet d'aligner les dates à droite, elle contient :
                                - deux lignes, chaque ligne contient deux colonnes-->
                        <div class="float-end pe-5 me-3 mb-3">
                            <!--Input pour la date de fabrication-->
                            <div class="row g-2 ms-3 mb-1">
                                <div class="col-auto">
                                    <label for="DateFabric" class="col-form-label">Date de fabrication :</label>
                                </div>
                                <div class="col-auto">
                                    <input type="date" class="form-control-plaintext" id="DateFabric">
                                </div>
                            </div>
                            <!-- Date de péremption (date de fabrication +3j)-->
                            <div class="row g-2 ms-3" >
                                <div class="col-auto">
                                    <p>Date de péremption :</p>
                                </div>
                                <!--Date calculée avec javascript (date de fabrication +3j)-->
                                <div class="col-auto">
                                    <p>Date calculé avec javascipt</p>
                                </div>
                            </div>
                        </div>

                        <!-- division des ingrédients, ingrédients non allergènes en gras-->
                        <div class="float-start">
                            ingr"dient1, ingrédient2, ... ingr"dient1, ingrédient2, ... ingr"dient1, ingrédient2, ... ingr"dient1, ingrédient2, ... ingr"dient1, ingrédient2, ... ingr"dient1, ingrédient2, ... ingr"dient1, ingrédient2, ... ingr"dient1, ingrédient2, ... ingr"dient1, ingrédient2, ... ingr"dient1, ingrédient2,
                        </div>
                 </div>
            </div>
        </div>

                  
        <!-- Bouton imprimer  -->
        <div class="mx-auto mt-3 mb-5" align=center>
            <button class="btn btn-dark" type="button" value="Imprimer" onClick="window.print()">
                <i class="bi bi-printer"></i>
                Imprimer 
            </button>              
        </div>


        

     <!-- Optional JavaScript; choose one of the two! -->

      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

      <!-- Option 2: Separate Popper and Bootstrap JS -->
      <!--
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
      -->
  </body>
</html>