body {
    font-family:'Open Sans', sans-serif;
    color:black;
    background-image: url("../img/fond_Acc4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
} 