<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Restaurant du chef</title>
  </head>
      <!---------------------- The navigation bar---------------- ------>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Restaurant du chef</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <!--Division pour centrer la nav-->
            <div class ="mx-auto">
              <!-- Division qui contient les elements de navigations-->
              <div class="navbar-nav">
                <!-- div qui contient les margin-->
                <div class ="me-5 mt-2 mb-3 ">
                  <!-- Division qui contient le flex et définit son shadow-->
                  <div class="d-inline-flex p-2 bd-highlight shadow p-3 rounded"> <p class="fs-4"> <a class="nav-link" href="#">Ingrédients</a> </p> </div>
                </div>
                <!-- div qui contient les margin-->
                <div class="mb-3">
                  <!-- Division qui contient le flex et définit son shadow-->
                  <div class="d-inline-flex p-2 bd-highlight shadow p-3 rounded rounded-pill"> <p class ="fs-2"> <a class="nav-link active" aria-current="page" href="#">Accueil</a> </p> </div>
                </div>
                <!-- div qui contient les margin-->
                <div class ="ms-5 mt-2 mb-3">
                  <!-- Division qui contient le flex et définit son shadow-->
                  <div class ="d-inline-flex p-2 bd-highlight shadow p-3 rounded"> <p class="fs-4"> <a class="nav-link" href="#">Fiches techniques</a> </p> </div>
                </div>     
              </div>
            </div>
          </div>
        </div>
      </nav>

    <!--Logo de notre site-->
    <div>
        <div class="position-relative">
            <div class="ponslate-middle-y">
                <div class="mt-5 ms-3">
                    <img src="svg (1).svg" class="card-img-top" alt="Logo de notre site" width="250" height="250">
                </div>
            </div>  
        </div>
    <!--Description des fonctionnalités du site-->
        <div class="position-relative">
             <div class="ponslate-middle-y">
                <div class="ms-1">
                    <p class="text-center"> 
                        Description du site:
    <!--paragraphe déscriptif-->
                    </p>
                    <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, ex neque ad dolores suscipit quam fugiat repellendus totam distinctio quod molestias consequuntur necessitatibus quisquam earum animi voluptate. Omnis, blanditiis! Deserunt.
                    Neque dolorem ea dolore nobis repudiandae, tempora maxime libero. Cum molestiae voluptates inventore accusamus, maxime aspernatur illum velit repellendus, magnam earum fugiat facilis quidem. Ullam labore maxime aspernatur amet animi!
                    Numquam dolore quos, fugiat architecto rem ea quidem vitae quibusdam asperiores illum earum blanditiis iure rerum fuga, voluptatibus dolor quo non mollitia. Consequuntur explicabo dignissimos cupiditate labore non dolorum quae!
                    Quaerat, quas tenetur veritatis illo provident sapiente magnam ea ratione deleniti voluptate molestiae esse, dolorem repellendus. Provident mollitia optio aperiam laudantium aspernatur, magni eveniet omnis sint minima eum officiis rerum.
                    Sint dolor similique quae rem iure, enim illum voluptate saepe eligendi temporibus incidunt harum in nesciunt quos autem repudiandae repellendus sequi, laboriosam nisi consectetur alias. Ipsa molestiae ad eligendi qui.</p>
                </div>
            </div> 
        </div>

     </div>