<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Restaurant du chef</title>
  </head>
  <body>
  
 
      
    <!---------------------- The navigation bar---------------- ------>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Restaurant du chef</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <!--Division pour centrer la nav-->
            <div class ="mx-auto">
              <!-- Division qui contient les elements de navigations-->
              <div class="navbar-nav">
                <!-- div qui contient les margin-->
                <div class ="me-5 mt-2 mb-3 ">
                  <!-- Division qui contient le flex et définit son shadow-->
                  <div class="d-inline-flex p-2 bd-highlight shadow p-3 rounded"> <p class="fs-4"> <a class="nav-link" href="#">Accueil</a> </p> </div>
                </div>
                <!-- div qui contient les margin-->
                <div class="mb-3">
                  <!-- Division qui contient le flex et définit son shadow-->
                  <div class="d-inline-flex p-2 bd-highlight shadow p-3 rounded rounded-pill"> <p class ="fs-2"> <a class="nav-link active" aria-current="page" href="#">Fiches techniques</a> </p> </div>
                </div>
                <!-- div qui contient les margin-->
                <div class ="ms-5 mt-2 mb-3">
                  <!-- Division qui contient le flex et définit son shadow-->
                  <div class ="d-inline-flex p-2 bd-highlight shadow p-3 rounded"> <p class="fs-4"> <a class="nav-link" href="#">Ingrédients</a> </p> </div>
                </div>     
              </div>
            </div>
          </div>
        </div>
      </nav>

        <!--Bouton aperçu fiche avec prix, sans prix, ou etiquette -->
        <div class="container-fluid mt-5" align=center>
            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" id="Aperçu" data-bs-toggle="dropdown" aria-expanded="false">
                  Aperçu de la fiche technique
                </button>
                <ul class="dropdown-menu" aria-labelledby="Aperçu">
                  <li><button class="dropdown-item" type="button" >Fiche avec prix</button></li>
                  <li><button class="dropdown-item" type="button">Fiche sans prix</button></li>
                  <li><button class="dropdown-item" type="button">Etiquette</button></li>
                </ul>
              </div>
        </div>

      <!---la division qui va etre imprimée contenant toutes les informations à propos de la fiche technique,-->
      <div class="container-fluid mt-5 ps-4 pe-3">
        <!--liste des  Descriptifs et des coeff -->
        <div class="row row-cols-2 bg-light bg-gradient justify-content-around pt-4">
            <!-- la liste des descriptifs-->
            <div class="col-6" >
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Descriptifs</strong></li>
                    <li class="list-group-item"><strong>Nom de la fiche : </strong>Malakoff</li>
                    <li class="list-group-item"><strong>Nombre de couverts : </strong>4</li>
                    <li class="list-group-item"><strong>Auteur : </strong>karim</li>
                    <li class="list-group-item"><strong>Catégorie : </strong>Dessert</li>
                </ul>
            </div>
            <!-- La liste des coefficients utilisés dans la fiche technique-->
            <div class="col-6" >
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Coefficients utlisés</strong></li>
                    <li class="list-group-item"><strong>Coeff Ass : </strong>0.5</li>
                    <li class="list-group-item"><strong>Coeff cout personnel : </strong>7</li>
                </ul>
            </div>
        </div>

        <!-- Une ligne qui contient :
                - une colonne pour la table progression
                - une colonne pour la table Ingrédients avec les pric etc -->
        <div class="row row-cols-2 bg-light bg-gradient">
            <!-- 1ère colonne (colonne des progressions ) -->
            <div class ="col-4 pt-4 ">
                <!-- Les progressions de la fiche sous forme d'une table-->
                <div class="container-fluid mt-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"> Progressions </th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Verser 3ml du lait puis chauffer à feu douce</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Couper la viande en morceaux </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
            <!-- Deuxème colonne (colonne des ingrédients ) -->
            <div class ="col-8 pt-4">
                <!-- Les Ingrédients de la fiche sous forme d'une table, en colonne
                    - Dénomination : 
                        -  Code | Ingrédient | Unité 
                    - Valorisation :
                        -  Quantité | PrixU | PTHT-->
                <div class="container-fluid mt-3">
                    <table class="table">
                        <thead>
                            <!-- Prémière ligne-->
                            <tr>
                            <th scope="col">DENOMINATION</th>
                            <th scope="col">VALORISATION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Deuxème ligne-->
                            <tr>
                            <!-- Première colonne -->
                            <th scope="row">
                                <!-- Table dans la premère colonne Dénomination qui contient le code, Ingrédient et le PrixU-->
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">CODE</th>
                                        <th scope="col">Ingrédient</th>
                                        <th scope="col">UNITE</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">3</th>
                                        <td colspan="2">Larry the Bird</td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </th>
                            <!-- Deuxième colonne-->
                            <td>
                                <!-- Table dans la premère colonne Valorisation qui contient la QTé_Ing, PRIXU et le PTHT-->
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">QUANTITE</th>
                                        <th scope="col">PRIXU</th>
                                        <th scope="col">PTHT</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">3</th>
                                        <td colspan="2">Larry the Bird</td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- La table qui contient les prix totales -->
            <div class="row row-cols-1 ms-3">
                <div class="col-auto">
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">Total Denrées</th>
                            <td>197,8 €</td>
                            </tr>
                            <tr>
                            <th scope="row">ASS 5%</th>
                            <td>9,8 €</td>
                            </tr>
                            <tr>
                            <th scope="row">Cout Matières</th>
                            <td>197,8 €</td>
                            </tr>
                            <tr>
                            <th scope="row">Cout Personnel</th>
                            <td>197,8 €</td>
                            </tr>
                            <tr>
                            <th scope="row">Cout Fluide</th>
                            <td>197,8 €</td>
                            </tr>
                            <tr>
                            <th scope="row">Cout de production Total</th>
                            <td>197,8 €</td>
                            </tr>
                            <tr>
                            <th scope="row">Cout de production portion</th>
                            <td>197,8 €</td>
                            </tr>
                        </tbody>
                        </table> 
                </div>              
            </div>
        </div>

        <!-- Bouton imprimer  -->
        <div class="mx-auto mt-3 mb-5" align=center>
        <button class="btn btn-dark" type="button" value="Imprimer" onClick="window.print()">
            <i class="bi bi-printer"></i>
            Imprimer 
        </button>              
        </div>

      <!-- Optional JavaScript; choose one of the two! -->

      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

      <!-- Option 2: Separate Popper and Bootstrap JS -->
      <!--
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
      -->
  </body>
</html>